.home {
  .top {
    #title {
      display: flex;
      color: indigo;
      justify-content: center;
      margin: 50px 0;
    }
    .list {
      #list {
        display: flex;
        list-style: none;
        justify-content: space-around;
        #element {
          color: grey;
          cursor: pointer;
          font-size: 25px;
          &:hover {
            color: indigo;
          }
        }
      }
    }
  }
}